extends layout

block content
  h1 Chat
  div(id="output", class="output")
  div
    span Name:
    input(id="nameTxt", type="text")
  div
    span Say:
    input(id="msgTxt", type="text")
    button(id="sendBtn") Send
